export(OLS_REGRESSION, SIMPLE.REGRESSION, REGIONS_OF_SIGNIFICANCE, PARTIAL_COEFS, 
       MODERATED_REGRESSION, LOGISTIC_REGRESSION, COUNT_REGRESSION, PLOT_MODEL)

importFrom("nlme", lme, getData, fixef)

importFrom("stats", cor, cov, na.omit, sd, qnorm, confint, anova,
           as.formula, lm, pf, predict, pt, qf, qt, quantile, terms, 
           vcov, contrasts, cooks.distance, covratio, dfbeta, dffits,
             hatvalues, lowess, model.matrix, model.frame, qqline, qqnorm,
             resid, rstandard, rstudent,
             binomial, coef, confint.default,
             delete.response, fitted, glm, logLik, pchisq,
             poisson, relevel, residuals, var,
             density, pbinom, runif, loess.smooth, pbeta, ppois, formula)

importFrom("graphics", lines, par, points, layout, layout.show,
           abline, legend, rect, hist, arrows, axis, barplot, grid, polygon)

importFrom("utils", head, packageDescription, tail)

importFrom("MASS", mvrnorm, negative.binomial)

importFrom("grDevices", rainbow)

importFrom(BayesFactor, ttest.tstat, anovaBF, extractBF, ttestBF, posterior,
           lmBF, linearReg.R2stat)

importFrom(rstanarm, posterior_interval, stan_glm, neg_binomial_2)

importFrom(pscl, zeroinfl, vuong)