export(SIMPLE.REGRESSION, REGIONS_OF_SIGNIFICANCE, PARTIAL_COEFS)

importFrom("nlme", lme, getData, fixef)

importFrom("stats", cor, cov, na.omit, sd, qnorm, confint, anova,
           as.formula, lm, pf, predict, pt, qf, qt, quantile, terms, 
           vcov, contrasts, cooks.distance, covratio, dfbeta, dffits,
             hatvalues, lowess, model.matrix, qqline, qqnorm,
             resid, rstandard, rstudent)

importFrom("graphics", lines, par, points, layout, layout.show,
           abline, legend, rect, hist)

importFrom("utils", head, packageDescription)
